/node_modules
/package-lock.json
/public/storage
/storage/*.key
/storage/logs/
/storage/framework/cache/
/vendor
/.idea
/.vagrant
/.env
/public/uploads/media/
/public/uploads/invoice_logos/
/public/uploads/img/

/public/base-baileys-mysql/node_modules
/public/base-baileys-mysql/package-lock.json
/public/base-baileys-mysql/baileys.log
/public/base-baileys-mysql/core.class.log

/public/base-baileys-mysql/percyalvarez2023_sessions
/public/base-baileys-mysql/percyalvarez2023.qr.png
/public/base-baileys-mysql/paulmuiba2023_sessions
/public/base-baileys-mysql/paulmuiba2023.qr.png
/public/base-baileys-mysql/stevenkenny7269_sessions
/public/base-baileys-mysql/stevenkenny7269.qr.png

