/node_modules
/package-lock.json
/public/storage
/public/base-baileys-mysql/node_modules
/public/base-baileys-mysql/package-lock.json
/storage/*.key
/storage/logs/
/storage/framework/cache/
/vendor
/.idea
/.vagrant
/.env
/public/uploads/media/
/public/uploads/invoice_logos/
/public/uploads/img/

/public/base-baileys-mysql/percyalvarez2023_sessions
/public/base-baileys-mysql/percyalvarez2023.qr.png
